<ion-view view-title="{{language == FRENCH ? pkm.nameFr : pkm.nameEn || pkm.name}}">
    <ion-content class="padding" delegate-handle="pkmsdetailDelegate">
      <ion-slides>
        <ion-slide-page class="scroll-content">
          <div class="row">
            <div class="col col-30">
              <img class="center" ng-src="img/pokemons/{{pkm.id}}.ico" style="width: 140px; height: 140px">
              <p class="text-center">
                <b class="badge-type" ng-repeat="type in (language == FRENCH ? pkm.typesFr : pkm.typesEn)" ng-class="[type]">{{type}}</b>
              </p>
            </div>
            <div class="col col-70">
                <table class="center">
                  <tr>
                    <td><img src="img/icon/maxcp.png" style="width: 50px; height: 18px"></td>
                    <td class="padding-15">{{pkm.cp}}</td>
                  </tr>
                  <tr>
                    <td><img src="img/icon/health.png" style="width: 20px; height: 20px"></td>
                    <td class="padding-15"> {{pkm.health}}</td>
                  </tr>
                  <tr>
                    <td><img src="img/icon/atk.png" style="width: 20px; height: 20px"></td>
                    <td class="padding-15">{{pkm.attaque}}</td>
                  </tr>
                  <tr>
                    <td><img src="img/icon/defense.png" style="width: 20px; height: 20px"></td>
                    <td class="padding-15">{{pkm.defense}}</td>
                  </tr>
                </table>
            </div>
          </div>

          <div class="row">
            <div class="col col-50 padding-0">
                <h5 class="text-center grey"><b>{{ language == FRENCH ? 'Capacité(s) Simple :' : 'Fast:' }}</b></h5>
                  <ion-list>
                    <ion-item  class="ability-font-size"
                               ng-repeat="ability in pkm.abilities | orderBy:'-pkmDps'"
                               ng-class="roundBorder($index,'simple')"
                               href="#/tab/abilities/{{ ability.nameEn }}">
                      <div class="row">
                        <div class="col text-center">
                          <b>{{language == FRENCH ? ability.nameFr : ability.nameEn}}</b>&nbsp;
                          <b class="badge-type fs-70" ng-class="[language == FRENCH ? ability.typeFr : ability.typeEn]">{{language == FRENCH ? ability.typeFr : ability.typeEn}}</b>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <ul>
                            <li><img src="img/icon/atk.png" style="width: 20px; height: 20px"><span class="padding-15">{{ability.damage}}</span></li>
                            <li><img src="img/icon/spd.png" style="width: 15px; height: 15px"><span class="padding-15" style="margin-left: 5px">{{ability.duration}} s</span></li>
                            <li><img src="img/icon/dps.png" style="width: 20px; height: 20px"><span class="padding-15">{{ability.dps}}</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col text-center">
                          <b ng-show="language == FRENCH" style="font-size: 90%">DPS de {{pkm.nameFr}}&nbsp;:&nbsp;{{ability.pkmDps}}</b>
                          <b ng-show="language == ENGLISH" style="font-size: 90%">{{pkm.nameEn}} DPS&nbsp;:&nbsp;{{ability.pkmDps}}</b>
                        </div>
                      </div>

                    </ion-item>
                  </ion-list>
            </div>

             <div class="col col-50 padding-0">
                <h5 class="text-center grey"><b>{{ language == FRENCH ? 'Capacité(s)&nbsp;Chargé :' : 'Charge:' }}</b></h5>
                <ion-list>
                  <ion-item class="ability-font-size"
                            ng-repeat="speAbility in pkm.speAbilities | orderBy:'-pkmDps'"
                            ng-class="roundBorder($index, 'charged')"
                            href="#/tab/abilities/{{ speAbility.nameEn }}">
                    <div class="row">
                      <div class="col text-center">
                        <b>{{language == FRENCH ? speAbility.nameFr : speAbility.nameEn}}</b>&nbsp;
                        <b class="badge-type fs-70" ng-class="[language == FRENCH ? speAbility.typeFr : speAbility.typeEn]">{{language == FRENCH ? speAbility.typeFr : speAbility.typeEn}}</b>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <ul>
                          <li><img src="img/icon/atk.png" style="width: 20px; height: 20px"><span class="padding-15">{{speAbility.damage}}</span></li>
                          <li><img src="img/icon/spd.png" style="width: 15px; height: 15px"><span class="padding-15" style="margin-left: 5px">{{speAbility.duration}} s</span></li>
                          <li><img src="img/icon/dps.png" style="width: 20px; height: 20px"><span class="padding-15">{{speAbility.dps}}</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-center">
                        <b ng-show="language == FRENCH" style="font-size: 90%">DPS de {{pkm.nameFr}}&nbsp;:&nbsp;{{speAbility.pkmDps}}</b>
                        <b ng-show="language == ENGLISH" style="font-size: 90%">{{pkm.nameEn}} DPS&nbsp;:&nbsp;{{speAbility.pkmDps}}</b>
                      </div>
                    </div>
                  </ion-item>
                </ion-list>

            </div>
          </div>
        </ion-slide-page>
        <ion-slide-page class="padding scroll-content">

          <div class="fixed-outside-top">
            <i id ="info-btn" class="ion-ios-information-outline" ng-click="showAlert()"></i>
          </div>

          <div class="row text-center">
            <div class="col">
              <h3 class="pixelated-text grey">{{ language == FRENCH ? 'Calculateur d\'IV' : 'IV Calculator'}}</h3>
              <div id="tobecoverd">
                <img class="under" ng-src="img/pokemons/{{pkm.id}}.ico" style="width: 80px; height: 80px">
                <img class="cover" ng-src="img/mask.png" style="width: 110px; height: 100px">
              </div>
            </div>
          </div>

          <div>
            <form name="ivForm" novalidate="" ng-submit="computeIv(pkm.nameEn, cp, hp, dust)">

              <label class="item item-input radius-tl radius-tr">
                <img src="img/icon/cp.png" style="width: 40px; height: 40px">
                <span class="input-label pixelated-text">&nbsp;CP</span>
                <input type="number" ng-model="cp" required>
              </label>

              <label class="item item-input">
                <img src="img/icon/health.png" style="width: 30px; height: 30px; margin-left: 4px; margin-right: 5px">
                <span class="input-label pixelated-text">&nbsp;HP</span>
                <input type="number" ng-model="hp" required>
              </label>

              <label class="item item-input radius-bl radius-br">
                <img src="img/icon/dust.png" style="width: 40px; height: 40px; margin-left: -2px; margin-right: 5px;">
                <span class="input-label pixelated-text">{{ language == FRENCH ? 'Poussières pour UP' : 'Dust' }}</span>
                <input type="number" ng-model="dust" required>
              </label>

              <button id="computeIvBtn"
                      class="button  button-assertive button-small button-outline text-center"
                      type="submit"
                      ng-disabled="ivForm.$invalid">
                <span class="pixelated-text">{{ language == FRENCH ? 'Calculer' : 'Compute' }}</span>
              </button>
            </form>
          </div>

          <span id="result" ></span>

          <div class="text-center" ng-show="ivs.length == 0 || ivsErrors">
            <span ng-show="language == FRENCH">
              <p>Oups, impossible de calculer les Iv de ton Pokémon...</p>
              <p>Il doit y avoir une erreur dans ses statistiques.</p>
            </span>
            <span ng-show="language == ENGLISH">
              <p>Oups, an error occured</p>
              <p>It must have an error in your pokémon stats !</p>
            </span>
            <img class="center" src="img/error-pika.jpg">
          </div>

          <div id="ivTable" ng-show="ivs.length != 0 && ivs && !ivsErrors">

            <div>
              <div class="col">
                <h4 class="grey">{{ language == FRENCH ? 'Analyse:' : 'Analysis:' }}</h4>
              </div>

              <div class="col ">
                <span class="margin-0 grey" ng-hide="perfection.min == perfection.max">
                  <p>
                    <span> {{ language == FRENCH ? 'Les IV sont comprise entre:&nbsp;' : 'IV are betwen:&nbsp;' }}</span>
                    <b>{{ perfection.min }}%</b>&nbsp;{{ language == FRENCH ? 'et' : 'and' }}&nbsp;<b>{{ perfection.max }}%</b>
                  </p>
                  <p>
                    <div >
                      <span>{{ language == FRENCH ? analysis.Fr : analysis.En }}</span>
                    </div>
                  </p>
                </span>

                <span class="margin-0 grey" ng-show="perfection.min == perfection.max">
                  <span>{{ language == FRENCH ? 'L\'Iv est de:' : 'IV is:'}}&nbsp;</span>
                  <b>{{ perfection.min }}%</b>
                </span>
              </div>
            </div>

            <div>
              <div class="col">
                <h4 class="grey">{{ ivs.length }}&nbsp;{{ language == FRENCH ? 'Résultat(s) Possible:' : 'Possible Result(s)' }}</h4>
              </div>

              <div id="tableIvHead" class="row text-center grey">
                <div class="col">{{ language == FRENCH ? 'Attaque IV' : 'Attack IV'}}</div>
                <div class="col">Defense IV</div>
                <div class="col">Stamina IV</div>
                <div class="col">Perfection</div>
              </div>
              <div class="row text-center" ng-repeat="iv in ivs | orderBy: '-perfection'">
                <div class="col">{{ iv.attaqueIV }}</div>
                <div class="col">{{ iv.defenseIV }}</div>
                <div class="col">{{ iv.healthIV }}</div>
                <div class="col" iv-badger value="iv.perfection">{{ iv.perfection }}%</div>
              </div>
            </div>
          </div>

        </ion-slide-page>
      </ion-slides>
  </ion-content>
</ion-view>
