<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pkm.name}}">
    <ion-content class="padding">
      <ion-slides>
        <ion-slide-page class="scroll-content">
          <div class="row">
            <div class="col col-30">
              <img class="center" ng-src="img/pokemons/{{pkm.id}}.ico" style="width: 140px; height: 140px">
              <p class="text-center">
                <b class="badge-type" ng-repeat="type in pkm.typesFr" ng-class="[type]">{{type}}</b>
              </p>
            </div>
            <div class="col col-70">
                <table class="center">
                  <tr>
                    <td><img src="img/icon/maxcp.png" style="width: 50px; height: 20px"></td>
                    <td class="padding-15">{{pkm.cp}}</td>
                  </tr>
                  <tr>
                    <td><img src="img/icon/health.png" style="width: 20px; height: 20px"></td>
                    <td class="padding-15"> {{pkm.health}}</td>
                  </tr>
                  <tr>
                    <td><img src="img/icon/atk.png" style="width: 20px; height: 20px"></td>
                    <td class="padding-15">{{pkm.attaque}}</td>
                  </tr>
                  <tr>
                    <td><img src="img/icon/defense.png" style="width: 20px; height: 20px"></td>
                    <td class="padding-15">{{pkm.defense}}</td>
                  </tr>
                </table>
            </div>
          </div>

          <div class="row">
            <div class="col col-50">
                <h5 class="text-center">Capacité(s):</h5>
                  <ion-list>
                    <ion-item ng-repeat="ability in pkm.abilities">
                      <div class="row">
                        <div class="col text-center">
                          <b>{{ability.nameFr}}</b>&nbsp;<b class="badge-type fs-70" ng-class="[ability.typeFr]">{{ability.typeFr}}</b>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <ul>
                            <li><img src="img/icon/atk.png" style="width: 20px; height: 20px"><span class="padding-15">{{ability.damage}}</span></li>
                            <li><img src="img/icon/spd.png" style="width: 15px; height: 15px"><span class="padding-15">{{ability.duration}} s</span></li>
                            <li><img src="img/icon/dps.png" style="width: 20px; height: 20px"><span class="padding-15">{{ability.dps}}</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col text-center">
                          <b>DPS de {{pkm.nameFr}}&nbsp;{{ability.pkmDps}}</b>
                        </div>
                      </div>

                    </ion-item>
                  </ion-list>
            </div>

             <div class="col col-50">
                <h5 class="text-center">Capacité(s)&nbsp;Spécial:</h5>
                <ion-list>
                  <ion-item ng-repeat="speAbility in pkm.speAbilities">
                    <div class="row">
                      <div class="col text-center">
                        <b>{{speAbility.nameFr}}</b>&nbsp;<b class="badge-type fs-70" ng-class="[speAbility.typeFr]">{{speAbility.typeFr}}</b>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <ul>
                          <li><img src="img/icon/atk.png" style="width: 20px; height: 20px"><span class="padding-15">{{speAbility.damage}}</span></li>
                          <li><img src="img/icon/spd.png" style="width: 15px; height: 15px"><span class="padding-15">{{speAbility.duration}} s</span></li>
                          <li><img src="img/icon/dps.png" style="width: 20px; height: 20px"><span class="padding-15">{{speAbility.dps}}</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-center">
                        <b>DPS de {{pkm.nameFr}}&nbsp;{{speAbility.pkmDps}}</b>
                      </div>
                    </div>
                  </ion-item>
                </ion-list>

            </div>
          </div>
        </ion-slide-page>
        <ion-slide-page class="padding scroll-content">


          <div class="row text-center">
            <div class="col">
              <h2>Stats de mon {{ pkm.nameFr }} </h2>
            </div>
          </div>

          <div>
            <form name="ivForm" novalidate="" ng-submit="computeIv(pkm.nameEn, cp, hp, dust)">
              <label class="item item-input">
                <span class="input-label">CP</span>
                <input type="number" ng-model="cp" required>
              </label>

              <label class="item item-input">
                <span class="input-label">HP</span>
                <input type="number" ng-model="hp" required>
              </label>

              <label class="item item-input">
                <span class="input-label">Poussières pour UP</span>
                <input type="number" ng-model="dust" required>
              </label>

              <button id="computeIvBtn"
                      class="button  button-assertive button-small button-outline text-center"
                      type="submit"
                      ng-disabled="ivForm.$invalid"> Calculer
              </button>
            </form>
          </div>

          <div class="text-center" ng-show="ivs.length == 0 || ivsErrors">
            <p>Oups, impossible de calculer les Ivs de ton Pokémon...</p>
            <p>Il doit y avoir une erreur dans ses statistiques.</p>
            <img class="center" src="img/error-pika.jpg">
          </div>
          <div id="ivTable" ng-show="ivs.length != 0 && ivs && !ivsErrors">
            <div class="row">
              <h4>Résultat(s) Possible:</h4>
            </div>
            <div id="tableIvHead" class="row text-center">
              <div class="col">Attaque IV</div>
              <div class="col">Defense IV</div>
              <div class="col">Stamina IV</div>
              <div class="col">Lvl</div>
              <div class="col">Perfection</div>
            </div>
            <div class="row text-center" ng-repeat="iv in ivs">
              <div class="col">{{ iv.attaqueIV }}</div>
              <div class="col">{{ iv.defenseIV }}</div>
              <div class="col">{{ iv.healthIV }}</div>
              <div class="col">{{ iv.level }}</div>
              <div class="col">{{ iv.perfection }}%</div>
            </div>
          </div>

        </ion-slide-page>
      </ion-slides>
  </ion-content>
</ion-view>
