<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pkm.name}}">
  <ion-content class="padding">

    <div class="row">
      <div class="col col-30">
        <img ng-src="img/pokemons/{{pkm.id}}.ico" style="width: 160px; height: 160px">
      </div>
      <div class="col">
        <p>
          <b class="badge-type" ng-repeat="type in pkm.typesFr" ng-class="[type]">{{type}}</b>
        </p>
        <p>Max CP: {{pkm.cp}}</p>
        <p>Vie: {{pkm.health}}</p>
        <p>Attaque: {{pkm.attaque}}</p>
        <p>Defense: {{pkm.defense}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col col-50">
          <h5>Capacité:</h5>
            <ion-list>
              <ion-item ng-repeat="ability in pkm.abilities">{{ability.nameFr}}&nbsp;</ion-item>
            </ion-list>
      </div>

       <div class="col col-50">
          <h5>Capacité&nbsp;Spécial:</h5>
          <ion-list>
            <ion-item ng-repeat="speAbility in pkm.speAbilities">{{speAbility.nameFr}}&nbsp;</ion-item>
          </ion-list>

      </div>
    </div>

  </ion-content>
</ion-view>
