<ion-view view-title="Capacités">
  <ion-content class="padding">

   <div class="row">
     <div class="col-offset-10 col-40 text-center tab-item"
          ng-class="{'active' : isSimpleActive}"
          ng-click="isSimpleActive = true">
       <i class="icon icon-ability" style="width: 15px; height: 15px"></i>
       <span class="tab-title fs-70">Simple</span>
     </div>
     <div class="col-40 text-center tab-item"
          ng-class="{'active' : !isSimpleActive}"
          ng-click="isSimpleActive = false">
       <i class="icon icon-ability" style="width: 15px; height: 15px"></i>
       <span class="tab-title fs-70">Chargé</span>
     </div>
   </div>

    <div class="row">
      <div class="col">

        <ion-list ng-show="isSimpleActive">
          <ion-item ng-repeat="ability in abilities track by $index">
            <div class="row">
              <div class="col col-30">
                {{ability.nameFr}}
              </div>
              <div class="col col-20">
                <b class="badge-type fs-70" ng-class="[ability.typeFr]">{{ability.typeFr}}</b>
              </div>
              <div class="col col-50 text-center">{{ability.dps}}</div>
            </div>

          </ion-item>
        </ion-list>

        <ion-list ng-show="!isSimpleActive">
          <ion-item ng-repeat="speAbility in speAbilities track by $index">
            <div class="row">
              <div class="col col-30">
                {{speAbility.nameFr}}
              </div>
              <div class="col col-20">
                <b class="badge-type fs-70" ng-class="[speAbility.typeFr]">{{speAbility.typeFr}}</b>
              </div>
              <div class="col col-50 text-center">{{speAbility.dps}}</div>
            </div>
          </ion-item>
        </ion-list>

      </div>
    </div>

  </ion-content>
</ion-view>
