<ion-view view-title="Capacités">
  <ion-content class="padding">

     <div class="row">
       <div class="col-offset-10 col-40 text-center category"
            ng-class="{'category-active' : isSimpleActive}"
            ng-click="allAbilities = abilities; isSimpleActive = true">
         <i class="icon icon-ability" style="width: 15px; height: 15px"></i>
         <span class="tab-title fs-70">Simple</span>
       </div>
       <div class="col-40 text-center category"
            ng-class="{'category-active' : !isSimpleActive}"
            ng-click="allAbilities = speAbilities; isSimpleActive = false">
         <i class="icon icon-ability" style="width: 15px; height: 15px"></i>
         <span class="tab-title fs-70">Chargé</span>
       </div>
     </div>
    <div class="row">
      <div class="col">
        <input type="search" placeholder="Rechercher..." ng-model="search">
      </div>
    </div>
    <div class="row">
      <div class="col-offset-25 col-50 padding-5 text-center">
        <button class="button button-small button-positive" ng-class="{'button-outline' : filter != '-dps'}" ng-click="filter = '-dps'">DPS</button>
        <button class="button button-small button-positive" ng-class="{'button-outline' : filter != ''}" ng-click="filter = ''">Type</button>
        <button class="button button-small button-positive" ng-class="{'button-outline' : filter != 'nameFr'}" ng-click="filter = 'nameFr'">Nom</button>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <ion-list>
          <ion-item class="padding-0" collection-repeat="ability in allAbilities| orderBy:filter | filter:{ nameFr: search }">
            <div class="row">
              <div class="col text-center padding-0">
                <b>{{ability.nameFr}}</b>&nbsp;<b class="badge-type fs-70" ng-class="[ability.typeFr]">{{ability.typeFr}}</b>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <table class="center">
                  <tr>
                    <td><img src="img/icon/atk.png" style="width: 20px; height: 20px"><span class="padding-15">{{ability.damage}}</span></td>
                    <td class="padding-15"><img src="img/icon/spd.png" style="width: 15px; height: 15px"><span class="padding-15">{{ability.duration}} s</span></>
                    <td class="padding-15"><img src="img/icon/dps.png" style="width: 20px; height: 20px"><span class="padding-15">{{ability.dps}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-content>
</ion-view>
