<ion-view view-title="Capacités">
  <ion-content class="padding">

   <div class="row">
     <div class="col-offset-10 col-40 text-center tab-item"
          ng-class="{'active' : isSimpleActive}"
          ng-click="isSimpleActive = true">
       <i class="icon icon-ability" style="width: 15px; height: 15px"></i>
       <span class="tab-title fs-70">Simple</span>
     </div>
     <div class="col-40 text-center tab-item"
          ng-class="{'active' : !isSimpleActive}"
          ng-click="isSimpleActive = false">
       <i class="icon icon-ability" style="width: 15px; height: 15px"></i>
       <span class="tab-title fs-70">Chargé</span>
     </div>
   </div>

    <div class="row">
      <div class="col">

        <ion-list ng-show="isSimpleActive">
          <ion-item ng-repeat="ability in abilities">
            <span>{{ability.nameFr}}</span>
            <span>{{ability.dps}}</span>
          </ion-item>
        </ion-list>

        <ion-list ng-show="!isSimpleActive">
          <ion-item ng-repeat="speAbility in speAbilities">
            <span>{{speAbility.nameFr}}</span>
            <span>{{speAbility.dps}}</span>
          </ion-item>
        </ion-list>

      </div>
    </div>

  </ion-content>
</ion-view>
