<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Capacités" icon-off="icon icon-ability" icon-on="icon icon-ability" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Pokémons" icon-off="icon icon-pokeball" icon-on="iicon icon-pokeball" href="#/tab/pkms">
    <ion-nav-view name="tab-pkms"></ion-nav-view>
  </ion-tab>

</ion-tabs>
