
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
mvnw
mvnw.cmd
.mvn

# Mac
.DS_Store

# Maven
log/
target/

# Config
/resources/android
/resources/ios
/resources/wp8
/build
/local.properties
.gradle

node_modules/
platforms/
plugins/
