<ion-modal-view>
  <ion-header-bar ng-click="closeModal()">
    <div >
      <i class="ion-android-arrow-back grey" style="font-size: 25px"></i>
    </div>
    <h1 class="title grey">
      {{language == FRENCH ? modalAbility.nameFr : modalAbility.nameEn}}
      <b class="badge-type badge-type-header" ng-class="[language == FRENCH ? modalAbility.typeFr : modalAbility.typeEn]">{{ language == FRENCH ? modalAbility.typeFr : modalAbility.typeEn}}</b>
    </h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item collection-repeat="pkm in modalAbility.pokemons | orderBy: '-abilityDps'">
        <div class="row">
          <div class="col-30">
            <img class="center" ng-src="img/pokemons/{{pkm.id}}.ico" style="width: 70px; height: 70px">
          </div>
          <div class="col-70 ">
            <h2><b>#{{pkm.id}} {{language == FRENCH ? pkm.nameFr : pkm.nameEn}}</b></h2>
            <p ng-show="language == FRENCH">DPS de {{pkm.nameFr}}&nbsp;:&nbsp;<b>{{pkm.abilityDps}}</b></p>
            <p ng-show="language == ENGLISH">{{pkm.nameEn}} DPS&nbsp;:&nbsp;<b>{{pkm.abilityDps}}</b></p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
